ENVIRONMENT=development
DEBUG=true

[db]
; use host.docker.internal when the app runs in its container,
; 127.0.0.1 when running on the host
host = 'host.docker.internal'
port = 3306
database = webapp
username = webapp
password = webapp_password
charset = utf8mb4

